<ion-header>
  <ion-toolbar>
    <ion-button [routerLink]="['/home']"  style="height: 30px">
      <ion-icon name="return-left"></ion-icon>
    </ion-button>
    <ion-title>Adicionar Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="ion-text-center">

    </div>
    <ion-list>
      <ion-item>
        <ion-input type="text" [(ngModel)]="item.nomeProduto" placeholder="Nome do produto"></ion-input>
      </ion-item>
      <ion-item >
        <ion-select multiple="false" [(ngModel)]="item.categoria" placeholder="Selecione uma Categoria" >
          <ion-select-option value="vestimenta">Vestimenta</ion-select-option>
          <ion-select-option value="eletronico">Eletronico</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input type="date" [(ngModel)]="item.dataCompra" placeholder="Data de compra"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="item.valor" placeholder="Valor"></ion-input>
      </ion-item>
    </ion-list>
    <div class="ion-text-center" style="margin: 20px" (click)="adicionar()">
      <ion-button>
        Adiocionar
      </ion-button>
    </div>
  </ion-card>
</ion-content>