<ion-header>
  <ion-toolbar>
    <ion-title>
      Pat Gen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list >
      <ion-item *ngFor="let item of items" >
        <ion-label>{{item.nomeProduto}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-segment>
      <ion-segment-button [routerLink]="['/lista']">
        <ion-label>Listar</ion-label>
      </ion-segment-button>
      <ion-segment-button [routerLink]="['/home']">
        <ion-label>Principal</ion-label>
      </ion-segment-button>
      <ion-segment-button [routerLink]="['/add-produto']" >
        <ion-label>Adicionar</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
