<ion-header>
  <ion-toolbar>
    <ion-button [routerLink]="['/home']" style="height: 30px">
      <ion-icon name="return-left"></ion-icon>
    </ion-button>
    <ion-title>lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label>Lista</ion-label>
      <ion-select  multiple="false" placeholder="" [(ngModel)]="option">
        <ion-select-option  id="selectProduct"  *ngFor="let item of items" [value]="item.nomeProduto"> 
          {{item.nomeProduto}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>
  <ion-card class="ion-padding">
    <ion-list ngDefaultControl>
      <ion-item>
        <ion-label>Categoria: </ion-label>
        <ion-input [(ngModel)]="item.categoria"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>DataCompra: </ion-label>
        <ion-input [(ngModel)]="item.dataCompra"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Valor: </ion-label>
        <ion-input [(ngModel)]="item.valor"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-button (click)="loadItem()" style="margin: 10px; width: 70px; height: 35px;">
          Buscar
        </ion-button>
        <ion-button (click)="updateItem()" style="margin: 10px; width: 80px; height: 35px;" color="success">
          Atualizar
        </ion-button>
        <ion-button (click)="deleteItem()" style="margin: 10px; width: 70px; height: 35px;" color="danger">
          Apagar
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>